@page
@model VanHorn_WebServices_Final.Pages.Days.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Day.Id</h1>

<div>
    <h4>Openings</h4>
    <hr />
    <table class="table">
        <tbody>
            @{
                int optionNum = 1;
            }
            <tr>
                <td>
                    <header>Timeslots</header>
                    @if (Model.Day.Timeslots.Count < 5)
                    {
                        @foreach (var item in Model.Day.Timeslots.Where(t => !t.IsTaken))
                        {
                            <ul>
                                <li><a asp-page="/Timeslots/Edit" asp-route-dayId="@Model.Day.Id" asp-route-id="@item.TId"> @item.StartTime</a></li>
                                @{
                                    optionNum++;
                                }
                            </ul>
                        }
                    }
                    else
                    {
                        <p>Nothing available for today</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="/Index"> Cancel</a>
</div>