@page
@model VanHorn_WebServices_Final.Pages.Timeslots.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.Timeslot.DayId</h1>

<h4>@Model.Timeslot.StartTime - @{TimeSpan endtime = Model.Timeslot.StartTime + Model.Timeslot.Duration;} @endtime</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Timeslot.TId" />
            <input type="hidden" asp-for="Timeslot.DayId" />
            <input type="hidden" asp-for="Timeslot.StartTime" />
            <div class="form-group">
                <label asp-for="Timeslot.ServiceProviderId" class="control-label"></label>
                <select asp-for="Timeslot.ServiceProviderId" class="form-control" asp-items="ViewBag.ServiceProviderId"></select>
                <span asp-validation-for="Timeslot.ServiceProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Days/Details" asp-route-id="@Model.Timeslot.DayId"> Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
